footer {
  background-image: url(https://images.unsplash.com/photo-1604879616509-d841eec0ca4e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);


}

footer section h1{

    clear: both;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

footer div img {
width: 30px;
height: 40px;

}
#visa {
    position: relative;
    top: 11px;
left:5px;
}

#zain {
    height:25px;
    position: relative;
    top: 3px;
left: 10px;
}

#e{
position: relative;
top: 10px;
left: 15px;
}

footer div {
 color: white;
}
.hero{
    width:160px;
    height: 100px;
    position: relative;
    left: 520px;

}
.hours{
    width: 160px;
    height: 100px;
    position: relative;
    left:500px;
}
h5{
    text-align: center;
}