/* .showcase::before,.showcase::after{
    content: '';
    color:white;
    position: absolute;
    height: 1px;
    bottom:-550px;
    right:0PX;
    left:0PX;
    background-color:red;
    transform: skewY(50deg);
    -webkit-transform: skewY(50deg);
    -moz-transform:skewY(50deg) ;
    -ms-transform: skewY(50deg);

}
.showcase{
    height: 40px;
    background-color: var(--primary-color);
    color:white;
    position: relative;
} */

header nav ul li  {
    display: inline-block;

}

#aboutus{
    position:relative ;
    left: 300px;

}
#rentcar{
    position: relative;
    left: 280px;
}
#location{
    position:relative;
    left: 260px;
}
#home {
    position: relative;
    left: 240px;
}
header div img{
   position: relative;
   left: 280px;
   top: 0px;
}
.zaid2{
    color: white;
}
/* header div {
    background-color: hotpink;
} */
/* main img {
    width: 500px ;
    height:500px;
} */

/* main section img{
    /* float: right; */
/* } */ 
/* 
#imgp{
    clear: both;
    /* float: left; */
/* } */ 
/* article p {
    float: left;
} */

/* body main article {
    clear: both;
    
} */
    
body main article img{
width: 200px;
height: 100px;
position: relative;
left: 45%;
    
}

/* *{
    background-image: url(https://images.caricos.com/b/bmw/2019_bmw_3-series/images/1600x1200/2019_bmw_3-series_106_1600x1200.jpg);
} */
.iron {
    background-image:url(https://wallpapercave.com/wp/wp6847911.jpg);
}
main section p {
    color: white;
}
