
/* .showcase::before,.showcase::after{
    content: '';
    color:white;
    position: absolute;
    height: 1px;
    bottom:-550px;
    right:0PX;
    left:0PX;
    background-color:red;
    transform: skewY(50deg);
    -webkit-transform: skewY(50deg);
    -moz-transform:skewY(50deg) ;
    -ms-transform: skewY(50deg);

}
.showcase{
    height: 40px;
    background-color: var(--primary-color);
    color:white;
    position: relative;
} */
.showcase {
    color: lavenderblush;


.zaid {
    height: 60px;
background-color: rgb(17, 17, 17);

}
.image1{
position: relative;
top:20px;
right: 100px;
}

.zaid2 {
    height: 80px;
    background-color:rgb(233, 95, 45);
    

   
}
#logo{
    position: relative;
    left: 120px;
    width:100px ;
    height: 80px;
    top: -35px;

}

header nav ul li  {
    display: inline-block;
    bottom: -20px;

}

#aboutus{
    position:relative ;
    left: 300px;

}
#rentcar{
    position: relative;
    left: 280px;
}
#location{
    position:relative;
    left: 260px;
}
#home {
    position: relative;
    left: 240px;
}
header div img{
   position: relative;
   left: 280px;
   top: 0px;
}

.zaid2{
    color: white;
}

main section p{
    position: relative;
    top:100px;
    font-size: 40px;
}


/* header div {
    background-color: hotpink;
} */
/* main img {
    width: 500px ;
    height:500px;
} */

.zaid {
    background-color: purple;
    }
    /* .zaid2  {
        background-color: red;
        -webkit-transform: skewX(45deg);
    }
     */
    header nav ul li  {
        display: inline-block;
    
    }
    
    #aboutus{
        position:relative ;
        left: 300px;
    
    }
    #rentcar{
        position: relative;
        left: 280px;
    }
    #location{
        position:relative;
        left: 260px;
    }
    #home {
        position: relative;
        left: 240px;
    }
    header div img{
       position: relative;
       left: 280px;
       top: 0px;
    }
    /* header div {
        background-color: hotpink;
    } */
    /* main img {
        width: 500px ;
        height:500px;
    } */
    

}

/* *{
    background-image: url(https://images.caricos.com/b/bmw/2019_bmw_3-series/images/1600x1200/2019_bmw_3-series_106_1600x1200.jpg);
} */
.iron {
    background-image:url(https://wallpapercave.com/wp/wp6847911.jpg);
}
main section p {
    color: white;

footer{
    position: relative;
    padding-top: 40px;
    text-align: center;
    height: 100px;
}
/* *{
    background-image: url(https://images.caricos.com/b/bmw/2019_bmw_3-series/images/1600x1200/2019_bmw_3-series_106_1600x1200.jpg);
} */
 #hero-image{
    background-image: url(https://images.caricos.com/b/bmw/2019_bmw_3-series/images/1600x1200/2019_bmw_3-series_106_1600x1200.jpg);
height: 1000px;

}
    /* main section img{
        /* float: right; */
    /* } */ 
    /* 
    #imgp{
        clear: both;
        /* float: left; */
    /* } */ 
    /* article p {
        float: left;
    } */
    
    /* body main article {
        clear: both;
        
    } */
        
    body main article img{
    width: 200px;
    height: 100px;
    position: relative;
    left: 45%;
        
    }
    footer{
        clear: both;
        text-align: center;
    }
    /* *{
        background-image: url(https://images.caricos.com/b/bmw/2019_bmw_3-series/images/1600x1200/2019_bmw_3-series_106_1600x1200.jpg);
    } */
    body {
        background-image: url(https://images.caricos.com/b/bmw/2019_bmw_3-series/images/1600x1200/2019_bmw_3-series_106_1600x1200.jpg);
    }


