.zaid {
background-color: purple;
}
.zaid2 {
    background-color: red;
    -webkit-transform: skewX(45deg);
}

header nav ul li  {
    display: inline-block;

}

#aboutus{
    position:relative ;
    left: 300px;

}
#rentcar{
    position: relative;
    left: 280px;
}
#location{
    position:relative;
    left: 260px;
}
#home {
    position: relative;
    left: 240px;
}
header div img{
   position: relative;
   left: 280px;
   top: 0px;
}
/* header div {
    background-color: hotpink;
} */
/* main img {
    width: 500px ;
    height:500px;
} */

/* main section img{
    /* float: right; */
/* } */ 
/* 
#imgp{
    clear: both;
    /* float: left; */
/* } */ 
/* article p {
    float: left;
} */

/* body main article {
    clear: both;
    
} */
    
body main article img{
width: 200px;
height: 100px;
position: relative;
left: 45%;
    
}
footer{
    clear: both;
    text-align: center;
}
/* *{
    background-image: url(https://images.caricos.com/b/bmw/2019_bmw_3-series/images/1600x1200/2019_bmw_3-series_106_1600x1200.jpg);
} */
body {
    background-image: url(https://images.caricos.com/b/bmw/2019_bmw_3-series/images/1600x1200/2019_bmw_3-series_106_1600x1200.jpg);
}
